include toc
+make_toc(false)

.sidebar.animated
  if theme.sidebar
    img(src=url_for(theme.sidebar), style='position: absolute; max-width: none; height: max(100%, 80vh); opacity: 0.1; z-index: -1;')
  .sidebar-top
    .logo-title
      .title
        img(src=url_for(theme.logo_dir), style=theme.logo_style, alt="favicon")
        h3(title="")
          a(href="/")= config.title
        if theme.description
          .description
            p!= theme.description
      include social_links

    include toc
    +make_toc(true)

  include footer
